- form_id = "new_comment_#{name}"
= form_for(comment_resource, 
           :remote => true, 
           :html => {:id => form_id}) do |f|
  = f.text_area :text
  .controls
    = f.submit 'Add Comment', {:class => "control-link", :disable_with => "Adding..."}

- content_for(:javascripts) do
  :javascript
    $("##{form_id}")
      .bind("ajax:success", function(data, status, xhr) {
        // clear textarea
        $(this).children("textarea").val("");
        
        // add comment
        var comment = $(status).insertAfter($(this));
        //blink(comment); // RK: not fading back for some reason??
      });