%h1 Your fellow artists:

%ul
  - @users.each do |user|
    %li
      #{user.nickname} (#{user.name}): 
      = link_to "#{user.email}", user
      (#{user.active ? "active" : "inactive"})
      - if user.admin
        [admin]
      