- content_for(:comment_notices) do
  = link_to "Upload today's image", upload_path, :class => "control-link"

- content_for(:side_title) do
  = short_date(@date)

= render 'weekly', {:images => @user.weekly_images, :classes => ["user", "current"]}

=# TODO: use user timezone/day
= render('shared/time_controls',
  :title => long_date(@date),
  :prev_link => root_path(:date => @prev_date),
  :next_link => root_path(:date => @next_date))

#gallery.ad-gallery
  .ad-image-wrapper
  .ad-controls
  .ad-nav
    .ad-thumbs
      %ul.ad-thumb-list
        - for image in @images do
          %li
            %a(href="#{image.data.url(:display)}" data-image-id="#{image.id}")
              %img(src="#{image.data.url(:icon)}"
                   longdesc="#{image_path(image)}"
                   alt="#{image.description}"
                   title="#{image.user.nickname}")
  .description
  .allcomments
    - for image in @images do
      %div.comments(data-image-id="#{image.id}")
        = render('comments/comment_section',
              {:comments => image.comments.order('created_at DESC'),
               :comment_resource => [image, image.comments.build],
               :name => "image-#{image.id}"})

= render :partial => 'shared/ajax_comments', :locals => {:selector => "#content .comment"}

- content_for (:javascripts) do
  :javascript
    var galleries = null;
    $(document).ready(function() {
      // init Ad Gallery
      galleries = $('.ad-gallery').adGallery({
         //loader_image: 'loader.gif',
         //start_at_index: 0,
         description_wrapper: $('.description'),
         thumb_opacity: 1,
         animate_first_image: true,
         //animation_speed: 400,
         //width: false,
         //height: false,
         //display_next_and_prev: true,
         //display_back_and_forward: true,
         //scroll_jump: 0, // If 0, it jumps the width of the container
         slideshow: {
           enable: #{@images.length > 1 ? "true" : "false"},
           autostart: true,
           speed: 6000,
           start_label: 'Start',
           stop_label: 'Stop',
           stop_on_scroll: true,
           countdown_prefix: '(',
           countdown_sufix: ')',
           onStart: false,
           onStop: false
         },
         effect: 'fade', //'slide-hori', 'slide-vert', 'fade', or 'resize', 'none'
         //enable_keyboard_move: true,
         //cycle: true,
         callbacks: {
           //  init: false,
           afterImageVisible: function() {
             // display comments
             var active_image = $("#gallery .ad-thumbs .ad-active").attr('data-image-id');
             //log("active = " + active_image);
             $('#gallery .comments[data-image-id="'+ active_image +'"]').show('fast');
           },
           beforeImageVisible: function() {
             //log("hide all comments");
             $('#gallery .comments[data-image-id]').hide('fast');
           }
         }
      }); // $('.ad-gallery').adGallery(
    }); // $(document).ready

    function gallery_key_events(active) {
      //log("gallery key events: " + active);
      galleries[0].key_events = active;
      galleries[0].slideshow.settings.key_events = active;
    }

    // anytime someone focuses an image's comment box, stop the slideshow
    $(document).ready(function() {
      $(".comments textarea").live('focus', function() {
        //log("cap'n we've got focus");
        galleries[0].slideshow.stop();

        // suppress gallery keypresses
        gallery_key_events(false);
      });

      $(".comments textarea").live('blur', function() {
        // suppress gallery keypresses
        gallery_key_events(true);
      });

    });
