- content_for(:comment_notices) do
  = link_to "Upload today's image", upload_path, :class => "control-link"

= render('shared/time_controls',
  :description => "month",
  :title => "#{@current_month} | #{current_user.nickname}",
  :prev_link => @prev_date ? month_path(:year=>@prev_date.year, :month=>@prev_date.month) : nil,
  :next_link => @next_date ? month_path(:year=>@next_date.year, :month=>@next_date.month) : nil)

.month.user
  - for week in @weeks
    = render 'weekly', :images => week
