- content_for(:comment_notices) do
  = link_to "Upload today's image", upload_path, :class => "control-link"

- title = short_date(@prev_date + 1.day)
- if @next_date
  - title += " to #{short_date(@next_date - 1)}"
- else
  - title += " to #{short_date(Date.today)}"
= render('shared/time_controls', 
  :description => "week",
  :title => title,
  :prev_link => @prev_date ? week_path(:end_date=>@prev_date) : nil,
  :next_link => @next_date ? week_path(:end_date=>@next_date) : nil)

.weeklist
  = render('weekly',
    :label => @user.nickname,
    :images => @user.weekly_images(@date),
    :classes => "user")
  - for week in @weekly_images
    = render 'weekly', :label => week[:user].nickname, :images => week[:images]