- content_for(:comment_notices) do
  = link_to "Upload today's image", upload_path, :class => "control-link"

.controls
  = link_to "Previous", week_path(:end_date=>@prev_date)
  = link_to "Next", week_path(:end_date=>@next_date) if @next_date

.weeklist
  = render('weekly',
    :label => @user.nickname,
    :images => @user.weekly_images(@date),
    :classes => "user")
  - for week in @weekly_images
    = render 'weekly', :label => week[:user].nickname, :images => week[:images]