- image_classes ||= []
-# add classes that indicate whether the image is in the current day, week, or month
- date ||= @date || Date.today
- image_classes += get_image_classes(absent_image, date)

.image.absent{:class => image_classes}
  %a(href="#{upload_path(absent_image.upload_date)}" title="#{absent_image.long_date}")
    = "##{absent_image.upload_date.yday}"
    %br
    = absent_image.short_date
  %details(style="display:none;")
    %summary
      Upload your image for #{absent_image.upload_date.strftime("%d %B %Y")}