- form_for @image, :html => { :method => :post, :multipart => true } do |f|
  -if @image.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :date, :value => @image.date
  
  .full
    = f.file_field :data
  .full
    = f.label :description
    = f.text_area :description  
    = f.submit 'Upload', :class => "control-link"
