-# default to icon size unless we are on the image's page
  if size = nil then use the full size image
- current_page?(image) ? size ||= :display : size ||= :icon

-# default to visible details
- details = true if details.nil?

.image(class="#{size.to_s}")
  - if size.nil?
    %img(src="#{image.data.url}")
  - else
    = link_to image do
      %img(src="#{image.data.url(size)}" class="#{size.to_s}")
  %details[image]{:style => details ? nil : "display:none;"}
    = render :partial => 'images/description', :locals => {:image => image}

= render :partial => 'shared/ajax_comments', :locals => {:selector => "##{unique_id(image)} summary"}