-# default to icon size unless we are on the image's page
  if size = nil then use the full size image
- size ||= :icon unless current_page?(image)

-# default to visible details
- details = true if details.nil?

.image(class="#{size.to_s}")
  - if size.nil?
    %img(src="#{image.data.url}")
  - else
    = link_to image do
      %img(src="#{image.data.url(size)}" class="#{size.to_s}")
  %details[image]{:style => details ? nil : "display:none;"}
    %summary
      = render 'layouts/details', {:subject => image, :delete => false}