- content_for(:side_title) do
  = @user.nickname

= render('shared/time_controls',
      :title => long_date(@image.date),
      :prev_link => @prev_image ? image_path(@prev_image) : nil,
      :next_link => @next_image ? image_path(@next_image) : nil)

= render @image

.comments
  = render('comments/comment_section',
            {:comments => @image.comments.order('created_at DESC'),
             :comment_resource => [@image, @image.comments.build],
             :name => "image-#{@image.id}"})

= render :partial => 'shared/ajax_comments', :locals => {:selector => ".comments .comment"}
