%h2.date
  = @image.long_date
= render @image

.comments
  = render('comments/comment_section',
            {:comments => @image.comments,
             :comment_resource => [@image, @image.comments.build],
             :name => "image-#{@image.id}"})

= link_to 'Back', images_path

= render :partial => 'shared/ajax_comments', :locals => {:selector => ".comments .comment"}