-# subject is passed in as a local and should be a Comment or Image
-# ex: = render 'layouts/details', {:subject => Comment.new}

-# pass in :delete => false to remove deleting, default true
- delete = delete.nil? ? true : delete

%ul.info
  %li.user<
    = link_to subject.user.nickname, subject.user 
  %li.date(title="#{long_date(subject.date)}")<
    (#{time_ago_in_words(subject.date)} ago)
  - if current_user.admin? or subject.user_id == current_user.id
    - if delete
      %li.delete<
        = link_to("Delete", subject,
                  :confirm => 'Are you sure you want to delete your comment?',
                  :method => :delete,
                  :remote => true,
                  :class => 'control-link')
    %li.edit<
      = link_to('Edit', edit_subject_path(subject), :remote => true, :class => 'control-link')
    
  = yield(:info_content)
%p
  = subject.text if subject.has_attribute?('text')
  = subject.description if subject.has_attribute?('description')
  = yield(:details_content)
