-# Grab Google CDN's jQuery
-# Looks for google_api_key first in ENV['GOOGLE_API_KEY'] then in config/google.yml
- if !google_api_key.blank?
  = javascript_include_tag "http://www.google.com/jsapi?key=#{google_api_key}"
  :javascript
    google.load("jquery", "1.4.2");
- else
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"

-# fall back to local jQuery if necessary
:javascript
  !window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery.min.js"%3E%3C/script%3E'))

-# Jammit javascript packaging
= include_javascripts :end_scripts

-# regular javascript packages
=# javascript_include_tag 'rails', 'application', 'jquery.form', 'gallery/jquery.ad-gallery', 'jquery.create'


/[if lt IE 7 ]
  = javascript_include_tag 'dd_belatedpng'
  :javascript
    DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images

-# Override the :end_scripts DEBUG before reaching the :javascripts
- if Rails.env == 'development'
  :javascript
    DEBUG = true

-#  Append your own using content_for :javascripts
= yield :javascripts
-# RK: I always forget the last s
= yield :javascript

-# yui profiler and profileviewer
-# if Rails.env == 'development'
  =# javascript_include_tag 'profiling/yahoo-profiling.min', 'profiling/config'
